<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>240588475541-bkconcjc6a4bi9pm5csm3s3mlk10d368.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240588475541-bkconcjc6a4bi9pm5csm3s3mlk10d368</string>
	<key>API_KEY</key>
	<string>AIzaSyAtdylRtqS292Ysa2AaxpTapqH9TRdES4c</string>
	<key>GCM_SENDER_ID</key>
	<string>240588475541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.com.aprisma.PrimeMobile.MandiriPay</string>
	<key>PROJECT_ID</key>
	<string>mandiri-pay-ae43f</string>
	<key>STORAGE_BUCKET</key>
	<string>mandiri-pay-ae43f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240588475541:ios:d0ece45c0ae9a057</string>
	<key>DATABASE_URL</key>
	<string>https://mandiri-pay-ae43f.firebaseio.com</string>
</dict>
</plist>